QUESTION - 1

In [3]:
import pandas as pd
s=pd.Series([4, 8, 15, 16, 23, 42])

In [4]:
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

QUESTION - 2

In [5]:
var=['a','b','c','d','e','f','g','h','i','j']
v=pd.Series(var)
v

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

QUESTION - 3

In [6]:
info = [
    ('Alice',25,'Female'),
    ('Bob',30,'Male'),
    ('Claire',27,'Female')
]

df=pd.DataFrame(info,columns=['Name','Age','Gender'])
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

QUESTION - 4

Dataframe is a tabular representational data structure used in pandas to represent data in table.
pandas.series is1-D data structure while dataframe is a 2d data structure.

Ex:- dataFrame in que. 3 and pandas.series is used in Que. 1

QUESTION - 5

some common functions used to manipulate data in a pandas dataframe are :-
1. head():- it is used to retreive top 5 data and head(n) is used to retreive top n data.

2. tail():- it is used to retrieve bottom 5 data and tail(n) is used to retreive bottom n  data.

3. fillna() :- Fills missing values in the DataFrame with specified values or strategies.

QUESTION - 6

In Pandas, the mutable nature refers to the ability to modify an object after its creation. Among these three, both Series and DataFrame are mutable, while Panel is not.

QUESTION - 7

In [2]:
import pandas as pd
name=pd.Series(['Alice','Bob','Claire'])
age = pd.Series([25,30,27])
gender=pd.Series(['Female','Male','Female'])

In [3]:
df1 = pd.DataFrame({'name':name,
                    'age':age,
                    'gender':gender
                    })

df1

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female